/* #region global*/

* {
  box-sizing: border-box;
}

/* #endregion */
/* #region container */

.container {
  padding: 0.7rem;
  text-align: center;
  position: relative;
  width: fit-content;
  opacity: 1;
}

.container.clicked {
  animation-name: flicker;
  animation-duration: var(--motion-duration-long4);
  animation-timing-function: cubic-bezier(var(--motion-easing-emphasized-accelerate));
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.container::after,
.container::before {
  content: '';
  border-style: solid;
  border-width: 0.01rem;
  border-color: hsla(var(--primary-background-color-1-compose), 0.5);
  display: block;
  height: calc(50% - 0.7rem);
  width: 100%;
  position: absolute;
  left: 0;

  transition-property: border-color;
  transition-delay: calc(var(--motion-duration-extra4) / 7);
  transition-duration: calc(var(--motion-duration-extra4) / 2);
  transition-timing-function: cubic-bezier(var(--motion-easing-emphasized));
}

.container::after {
  top: 0;
  border-bottom-width: 0;
}

.container::before {
  bottom: 0;
  border-top-width: 0;
}

.container:hover {
  cursor: pointer;
}

.container:hover::after,
.container:hover::before {
  border-color: hsla(var(--primary-color-40-compose), 0.5);
}

/* #endregion */
/* #region container shine*/

.container .shine {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  animation-name: flicker;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.container .shine::after,
.container .shine::before {
  content: '';
  width: 0.1rem;
  height: 0.1rem;

  position: absolute;

  background-color: var(--primary-background-color-1);
  box-shadow: 0px 0px 0.5rem 0.1rem var(--primary-background-color-1);

  opacity: 0;

  animation-duration: 8s;
  animation-timing-function: cubic-bezier(var(--motion-easing-emphasized-accelerate));
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;

  transition: box-shadow var(--motion-duration-short4) cubic-bezier(var(--motion-easing-emphasized-accelerate)),
    background-color var(--motion-duration-short4) cubic-bezier(var(--motion-easing-emphasized-accelerate));
}

.container .shine::after {
  top: calc(50% - 0.7rem);
  left: 0;

  animation-name: top-shine;
  animation-delay: -4s;
}

.container .shine::before {
  bottom: calc(50% - 0.7rem);
  left: 100%;

  animation-name: bottom-shine;
  animation-delay: 0s;
}

.container:hover .shine::after,
.container:hover .shine::before {
  background-color: var(--primary-color-40);
  box-shadow: 0px 0px 0.5rem 0.4rem var(--primary-color-40);

  animation-duration: 3s;
}

.container:hover .shine::after {
  animation-delay: -1.5s;
}

.container:hover .shine::before {
  animation-delay: 0s;
}

@keyframes top-shine {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    left: 0;
    top: calc(50% - 0.7rem);
  }
  74% {
    opacity: 1;
    left: 0;
    top: 0;
  }
  89% {
    opacity: 1;
    left: 100%;
    top: 0;
  }
  93% {
    opacity: 1;
    left: 100%;
    top: calc(50% - 0.7rem);
  }
  94% {
    opacity: 0;
    left: 100%;
    top: calc(50% - 0.7rem);
  }
  95% {
    opacity: 1;
    left: 100%;
    top: calc(50% - 0.7rem);
  }
  96% {
    opacity: 0;
    left: 100%;
    top: calc(50% - 0.7rem);
  }
  97% {
    opacity: 1;
    left: 100%;
    top: calc(50% - 0.7rem);
  }
  98% {
    opacity: 0;
    left: 100%;
    top: calc(50% - 0.7rem);
  }
  99% {
    opacity: 1;
    left: 100%;
    top: calc(50% - 0.7rem);
  }
  100% {
    opacity: 0;
    left: 100%;
    top: calc(50% - 0.7rem);
  }
}

@keyframes bottom-shine {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    left: 100%;
    bottom: calc(50% - 0.7rem);
  }
  74% {
    opacity: 1;
    left: 100%;
    bottom: 0;
  }
  89% {
    opacity: 1;
    left: 0%;
    bottom: 0;
  }
  93% {
    opacity: 1;
    left: 0%;
    bottom: calc(50% - 0.7rem);
  }
  94% {
    opacity: 0;
    left: 0%;
    bottom: calc(50% - 0.7rem);
  }
  95% {
    opacity: 1;
    left: 0%;
    bottom: calc(50% - 0.7rem);
  }
  96% {
    opacity: 0;
    left: 0%;
    bottom: calc(50% - 0.7rem);
  }
  97% {
    opacity: 1;
    left: 0%;
    bottom: calc(50% - 0.7rem);
  }
  98% {
    opacity: 0;
    left: 0%;
    bottom: calc(50% - 0.7rem);
  }
  99% {
    opacity: 1;
    left: 0%;
    bottom: calc(50% - 0.7rem);
  }
  100% {
    opacity: 0;
    left: 0%;
    bottom: calc(50% - 0.7rem);
  }
}

/* #endregion */
/* #region button */

.button {
  background-color: var(--primary-color-40);
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  margin-left: 0.1rem;

  overflow: hidden;
}

.button::after {
  content: '';
  position: absolute;
  background-color: var(--secondary-background-color-1);
  width: 1.2rem;
  height: 0.2rem;
  top: 0;
  left: 1.5rem;
  z-index: 2;

  transition-property: background-color;
  transition-delay: calc(var(--motion-duration-extra4) / 7);
  transition-duration: calc(var(--motion-duration-extra4) / 2);
  transition-timing-function: cubic-bezier(var(--motion-easing-emphasized));
}

.button::before {
  content: '';
  position: absolute;
  background-color: var(--secondary-background-color-1);
  width: 0.3rem;
  height: 0.3rem;
  bottom: 0;
  right: 0.3rem;
  z-index: 2;

  transition-property: background-color;
  transition-delay: calc(var(--motion-duration-extra4) / 7);
  transition-duration: calc(var(--motion-duration-short4));
  transition-timing-function: cubic-bezier(var(--motion-easing-emphasized));
}

.container:hover .button::after {
  background-color: var(--primary-background-color-1);

  transition-property: background-color;
  transition-delay: calc(var(--motion-duration-extra4) / 6);
  transition-duration: calc(var(--motion-duration-extra4) / 1.5);
  transition-timing-function: cubic-bezier(var(--motion-easing-emphasized));
}

.container:hover .button::before {
  background-color: var(--primary-background-color-1);

  transition-property: background-color;
  transition-delay: calc(var(--motion-duration-extra4) / 4 * 3);
  transition-duration: calc(var(--motion-duration-short4));
  transition-timing-function: cubic-bezier(var(--motion-easing-emphasized));
}

.top {
  position: absolute;
  left: 0.1rem;
  top: 0.1rem;
  background-color: var(--primary-font-color-1);
  border-radius: 50%;
  border: none;
  width: 0.2rem;
  height: 0.2rem;
  z-index: 3;
}

/* #endregion */
/* #region state layer */

.state-layer {
  background-color: var(--secondary-background-color-1);
  height: 100%;
  width: 110%;
  position: absolute;
  right: 105%;
  transform: skew(-10deg);

  transition: right var(--motion-duration-extra1) cubic-bezier(var(--motion-easing-emphasized-decelerate));
  z-index: 1;
}

.container:hover .state-layer {
  transition: right var(--motion-duration-extra4) cubic-bezier(var(--motion-easing-emphasized));
  right: -5%;
}

/* #endregion */
/* #region text*/

.text {
  color: var(--primary-font-color-1);
  font-family: var(--secondary-font);
  font-size: 2rem;
  text-transform: uppercase;
  z-index: 3;
  position: relative;
}

/* #endregion */
/* #region glitch animation */

.glitch {
  color: var(--primary-background-color-1);
  animation-name: glitch;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;

  z-index: 5;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  overflow: hidden;
  top: 0;
  animation-duration: 3s, 0.2s;
  animation-timing-function: linear, linear;
  animation-iteration-count: infinite, infinite;
  animation-direction: alternate-reverse, normal;
}

.glitch::before {
  left: -2px;
  text-shadow: -5px 0 magenta;

  animation-name: noise-1, glitch;
}

.glitch::after {
  left: 2px;
  text-shadow: -5px 0 lightgreen;

  animation-name: noise-2, glitch;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  20% {
    transform: rotateX(0deg) skewX(0deg);
  }
  30% {
    transform: rotateX(90deg) skewX(10deg);
  }
  40% {
    transform: rotateX(0deg) skewX(0deg);
  }
  50% {
    transform: rotateX(37deg) skewX(67deg);
  }
  60% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  3.3333333333% {
    clip-path: inset(43% 0 6% 0);
  }
  6.6666666667% {
    clip-path: inset(5% 0 84% 0);
  }
  10% {
    clip-path: inset(62% 0 18% 0);
  }
  13.3333333333% {
    clip-path: inset(39% 0 4% 0);
  }
  16.6666666667% {
    clip-path: inset(63% 0 9% 0);
  }
  20% {
    clip-path: inset(80% 0 21% 0);
  }
  23.3333333333% {
    clip-path: inset(22% 0 37% 0);
  }
  26.6666666667% {
    clip-path: inset(9% 0 8% 0);
  }
  30% {
    clip-path: inset(46% 0 54% 0);
  }
  33.3333333333% {
    clip-path: inset(55% 0 33% 0);
  }
  36.6666666667% {
    clip-path: inset(2% 0 21% 0);
  }
  40% {
    clip-path: inset(98% 0 3% 0);
  }
  43.3333333333% {
    clip-path: inset(87% 0 6% 0);
  }
  46.6666666667% {
    clip-path: inset(72% 0 3% 0);
  }
  50% {
    clip-path: inset(6% 0 80% 0);
  }
  53.3333333333% {
    clip-path: inset(47% 0 49% 0);
  }
  56.6666666667% {
    clip-path: inset(24% 0 62% 0);
  }
  60% {
    clip-path: inset(3% 0 13% 0);
  }
  63.3333333333% {
    clip-path: inset(34% 0 60% 0);
  }
  66.6666666667% {
    clip-path: inset(43% 0 32% 0);
  }
  70% {
    clip-path: inset(2% 0 63% 0);
  }
  73.3333333333% {
    clip-path: inset(50% 0 17% 0);
  }
  76.6666666667% {
    clip-path: inset(58% 0 7% 0);
  }
  80% {
    clip-path: inset(71% 0 3% 0);
  }
  83.3333333333% {
    clip-path: inset(22% 0 16% 0);
  }
  86.6666666667% {
    clip-path: inset(89% 0 12% 0);
  }
  90% {
    clip-path: inset(42% 0 50% 0);
  }
  93.3333333333% {
    clip-path: inset(29% 0 40% 0);
  }
  96.6666666667% {
    clip-path: inset(97% 0 4% 0);
  }
  100% {
    clip-path: inset(4% 0 25% 0);
  }
}
@keyframes noise-2 {
  0% {
    clip-path: inset(38% 0 30% 0);
  }
  3.3333333333% {
    clip-path: inset(79% 0 22% 0);
  }
  6.6666666667% {
    clip-path: inset(4% 0 29% 0);
  }
  10% {
    clip-path: inset(78% 0 5% 0);
  }
  13.3333333333% {
    clip-path: inset(24% 0 60% 0);
  }
  16.6666666667% {
    clip-path: inset(42% 0 17% 0);
  }
  20% {
    clip-path: inset(70% 0 1% 0);
  }
  23.3333333333% {
    clip-path: inset(5% 0 47% 0);
  }
  26.6666666667% {
    clip-path: inset(59% 0 29% 0);
  }
  30% {
    clip-path: inset(24% 0 42% 0);
  }
  33.3333333333% {
    clip-path: inset(35% 0 32% 0);
  }
  36.6666666667% {
    clip-path: inset(95% 0 4% 0);
  }
  40% {
    clip-path: inset(76% 0 18% 0);
  }
  43.3333333333% {
    clip-path: inset(2% 0 62% 0);
  }
  46.6666666667% {
    clip-path: inset(23% 0 14% 0);
  }
  50% {
    clip-path: inset(92% 0 3% 0);
  }
  53.3333333333% {
    clip-path: inset(33% 0 68% 0);
  }
  56.6666666667% {
    clip-path: inset(98% 0 3% 0);
  }
  60% {
    clip-path: inset(94% 0 7% 0);
  }
  63.3333333333% {
    clip-path: inset(11% 0 50% 0);
  }
  66.6666666667% {
    clip-path: inset(46% 0 48% 0);
  }
  70% {
    clip-path: inset(99% 0 2% 0);
  }
  73.3333333333% {
    clip-path: inset(57% 0 29% 0);
  }
  76.6666666667% {
    clip-path: inset(22% 0 61% 0);
  }
  80% {
    clip-path: inset(14% 0 51% 0);
  }
  83.3333333333% {
    clip-path: inset(44% 0 32% 0);
  }
  86.6666666667% {
    clip-path: inset(92% 0 7% 0);
  }
  90% {
    clip-path: inset(17% 0 63% 0);
  }
  93.3333333333% {
    clip-path: inset(98% 0 3% 0);
  }
  96.6666666667% {
    clip-path: inset(69% 0 27% 0);
  }
  100% {
    clip-path: inset(1% 0 62% 0);
  }
}

/* #endregion */
/* #region flicker animation */

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0;
  }
}

/* #endregion */
