/* #region default values */
:host {
  --inner-home-page-fade-offset: 0.1s;
  --inner-home-page-fade-duration: 0.4s;
  --inner-home-page-fade-delay: 0.5s;

  font-family: var(--tertiary-font);
}
/* #endregion */
/* #region page */
.page {
  min-width: 100vw;
  min-height: calc(var(--vh) * 100);
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;

  background: var(--secondary-background-color-2);
  background: -moz-radial-gradient(
    circle,
    var(--secondary-background-color-3) 0%,
    var(--secondary-background-color-1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    var(--secondary-background-color-3) 0%,
    var(--secondary-background-color-1) 100%
  );
  background: radial-gradient(circle, var(--secondary-background-color-3) 0%, var(--secondary-background-color-1) 100%);
  z-index: 1;
}
/* #endregion */
/* #region layout */

.layout {
  width: 100%;
  height: calc(var(--vh) * 100);

  display: grid;

  grid-template-areas:
    'social'
    'content'
    'next';
  grid-template-columns: 100%;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: stretch;
  align-items: stretch;
}

/* #endregion */
/* #region social */

.socialbar {
  z-index: 2;
  grid-area: social;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: 1.5rem;
}

.socialbar * {
  opacity: 0;
  width: 2rem;
  height: 2rem;
}

@keyframes fade-social-icon {
  0% {
    opacity: 0.01;
    transform: translatex(-100px);
  }
  100% {
    opacity: 100;
    transform: translatex(0px);
  }
}

.anim-social-icon {
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: var(--animation-function);
  animation-fill-mode: forwards;
  animation-name: fade-social-icon;
}

.anim-social-icon:nth-child(1) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 4);
}

.anim-social-icon:nth-child(3) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 3);
}

.anim-social-icon:nth-child(5) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 2);
}

.anim-social-icon:nth-child(7) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 1);
}

/* #endregion */
/* #region content */

.content {
  z-index: 2;
  grid-area: content;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 1rem;
  padding-right: 1rem;

  opacity: 1;
}

.greeting {
  color: var(--primary-color-40);
  margin-bottom: 1rem;
}

.title {
  color: var(--primary-font-color-key);

  text-shadow: 0px 0px 0.4rem var(--primary-font-color-key);

  font-family: var(--primary-font);
  font-size: 3.5rem;
  font-weight: 300;

  margin-bottom: 0.5rem;
}

.subtitle {
  color: var(--primary-font-color-1);

  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.1em;

  margin-bottom: 1rem;
}

p {
  color: var(--primary-font-color-1);

  margin-top: 0rem;
  margin-bottom: 0rem;
}

@keyframes fade-text {
  0% {
    opacity: 0.01;
    transform: translatey(20px);
  }
  100% {
    opacity: 100;
    transform: translatey(0px);
  }
}

.anim-content {
  opacity: 0;
  animation-duration: var(--inner-home-page-fade-duration);
  animation-timing-function: var(--animation-function);
  animation-fill-mode: forwards;
  animation-name: fade-text;
}

.anim-content:nth-child(1) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset));
}

.anim-content:nth-child(2) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 2);
}

.anim-content:nth-child(3) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 3);
}

.anim-content:nth-child(4) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 4);
}

/* #endregion */
/* #region next */

.next {
  z-index: 2;
  grid-area: next;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.next .button {
  width: 4rem;
  height: 4rem;

  position: relative;
  display: block;

  background: radial-gradient(var(--primary-color-40-80) 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;

  box-shadow: var(--elevation-shadow-level0);

  opacity: 0;

  transition: box-shadow, transform var(--motion-duration-extra4) cubic-bezier(var(--motion-easing-emphasized));
}

.next .button:hover {
  cursor: pointer;

  box-shadow: 0 9px 46px 8px hsla(var(--primary-color-40-compose), var(--elevation-shadow-key-penumbra-opacity)),
    0 24px 38px 3px hsla(var(--primary-color-40-compose), var(--elevation-shadow-key-umbra-opacity)),
    0 11px 15px -7px hsla(var(--primary-color-40-compose), var(--elevation-shadow-ambient-shadow-opacity));

  transform: scale(var(--elevation-scale-level7));
}

.next .button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--primary-color-40);
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
}

.next .button.anim-click::before {
  animation-timing-function: cubic-bezier(var(--motion-easing-emphasized));
  animation-duration: var(--motion-duration-extra4);
  animation-name: anim-click;
}

@keyframes anim-click {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(3);
  }
}

.state-layer {
  width: inherit;
  height: inherit;

  position: absolute;
  top: 0;
  left: 0;

  border: inherit;
  border-radius: inherit;

  z-index: 2;

  background-color: transparent;

  transition: background-color var(--motion-duration-extra4) cubic-bezier(var(--motion-easing-emphasized));
}

.next .button:hover .state-layer {
  background-color: var(--primary-color-hover);
}

@keyframes fadein-next-button {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein-next-button {
  opacity: 0;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: var(--animation-function);
  animation-fill-mode: forwards;
  animation-name: fadein-next-button;
}

.next .button svg {
  width: 100%;
  height: 100%;

  fill: var(--primary-font-color-1);
}

.next .button .ring {
  width: 100%;
  height: 100%;

  position: absolute;

  border-radius: 50%;
  border: 5px solid var(--primary-font-color-1);
  top: -5px;
  left: -5px;

  opacity: 0;
}

.pulsate-next-button {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: var(--animation-function);
  animation-name: pulsate;
}

@keyframes pulsate {
  0% {
    transform: scale(0.8);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
    box-shadow: none;
  }
}

/* #endregion */
/* #region media query */
/* #endregion */

.welcome {
  width: 50vw;
  flex-grow: 2;

  padding-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.side {
  margin-left: 3rem;
  margin-right: 3rem;

  width: 20vw;

  position: relative;
}

.profiles {
  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  flex-wrap: nowrap;

  justify-content: center;
}

/* #endregion */
/* #region picture */

.picture {
  flex-grow: 2;

  height: 100%;

  background-image: url('/space-invaders.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-filter: drop-shadow(0rem 0rem 10rem var(--inner-primary-color));
  filter: drop-shadow(0rem 0rem 10rem var(--inner-primary-color));

  opacity: 0;
  animation-duration: 60s, 6s;
  animation-timing-function: var(--inner-fade-function), ease-in-out;
  animation-delay: calc(var(--inner-fade-delay) * 6), 0s;
  animation-fill-mode: var(--inner-fade-fill);
  animation-iteration-count: 1, infinite;
  animation-name: var(--inner-fade-name), picture-float;

  margin-top: 5rem;
  margin-bottom: 0rem;
}

/* #endregion */
/* #region social icons */

/* #endregion */
/* #region profiles */

.profile-card {
  width: 12rem;
  height: calc(12rem * 1.618);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.profile-card-devops {
  --primary-color: #ff656f;
  --primary-filter-color: invert(48%) sepia(71%) saturate(550%) hue-rotate(308deg) brightness(101%) contrast(103%);
  --high-shadow-color: var(--primary-color);
}

.profile-card-mentorship {
  --primary-color: #30bbff;
  --primary-filter-color: invert(41%) sepia(44%) saturate(5165%) hue-rotate(202deg) brightness(102%) contrast(101%);
  --high-shadow-color: var(--primary-color);
}

.profile-card-frontend {
  --primary-color: #ffc176;
  --primary-filter-color: invert(99%) sepia(48%) saturate(5094%) hue-rotate(305deg) brightness(102%) contrast(102%);
  --high-shadow-color: var(--primary-color);
}

.profile-card-backend {
  --primary-color: #bf2eff;
  --primary-filter-color: invert(23%) sepia(75%) saturate(5089%) hue-rotate(270deg) brightness(113%) contrast(101%);
  --high-shadow-color: var(--primary-color);
}

/* #endregion */
/* #region profile modal */

/* #endregion */
/* #region media queries */
/* 
@media (max-width: 425px) {
  .hide {
    display: flex !important;
  }

  .social-icons.hide {
    position: inherit;
  }

  .side {
    display: none;
  }

  .welcome {
    width: 100vw;
    justify-content: flex-start;
  }

  .welcome-content {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile-cards {
    width: 10rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .spacing {
    display: none;
  }

  .welcome {
    height: 100%;
  }

  .text-title {
    font-size: 5rem;
  }

  .text-normal {
    font-size: 2.2rem;
  }
} */

/* #endregion */
