/* #region default values */
:host {
  --inner-home-page-fade-offset: 0.1s;
  --inner-home-page-fade-duration: 0.4s;
  --inner-home-page-fade-delay: 0.5s;

  font-family: var(--tertiary-font);
}
/* #endregion */
/* #region page */
.page {
  min-width: 100vw;
  min-height: calc(var(--vh) * 100);
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;

  background: var(--secondary-background-color-2);
  background: -moz-radial-gradient(
    circle,
    var(--secondary-background-color-3) 0%,
    var(--secondary-background-color-1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    var(--secondary-background-color-3) 0%,
    var(--secondary-background-color-1) 100%
  );
  background: radial-gradient(circle, var(--secondary-background-color-3) 0%, var(--secondary-background-color-1) 100%);
  z-index: 1;
}
/* #endregion */
/* #region layout */

.layout {
  width: 100%;
  height: calc(var(--vh) * 100);

  display: grid;

  grid-template-areas:
    'social'
    'content'
    'next';
  grid-template-columns: 100%;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: stretch;
  align-items: stretch;
}

/* #endregion */
/* #region social */

.socialbar {
  z-index: 2;
  grid-area: social;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: 1.5rem;
}

.socialbar * {
  opacity: 0;
  width: 2rem;
  height: 2rem;
}

@keyframes fade-social-icon {
  0% {
    opacity: 0.01;
    transform: translatex(-100px);
  }
  100% {
    opacity: 100;
    transform: translatex(0px);
  }
}

.anim-social-icon {
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: var(--animation-function);
  animation-fill-mode: forwards;
  animation-name: fade-social-icon;
}

.anim-social-icon:nth-child(1) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 4);
}

.anim-social-icon:nth-child(3) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 3);
}

.anim-social-icon:nth-child(5) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 2);
}

.anim-social-icon:nth-child(7) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 1);
}

/* #endregion */
/* #region content */

.content {
  z-index: 2;
  grid-area: content;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 1rem;
  padding-right: 1rem;

  opacity: 1;
}

.greeting {
  color: var(--primary-color-40);
  margin-bottom: 1rem;
}

.title {
  color: var(--primary-font-color-key);

  text-shadow: 0px 0px 0.3rem var(--primary-font-color-key);

  font-family: var(--primary-font);
  font-size: 3.5rem;
  font-weight: 300;

  margin-bottom: 0.5rem;
}

.subtitle {
  color: var(--primary-font-color-1);

  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.1em;

  margin-bottom: 1rem;
}

p {
  color: var(--primary-font-color-1);

  margin-top: 0rem;
  margin-bottom: 0rem;
}

@keyframes fade-text {
  0% {
    opacity: 0.01;
    transform: translatey(20px);
  }
  100% {
    opacity: 100;
    transform: translatey(0px);
  }
}

.anim-content {
  opacity: 0;
  animation-duration: var(--inner-home-page-fade-duration);
  animation-timing-function: var(--animation-function);
  animation-fill-mode: forwards;
  animation-name: fade-text;
}

.anim-content:nth-child(1) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset));
}

.anim-content:nth-child(2) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 2);
}

.anim-content:nth-child(3) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 3);
}

.anim-content:nth-child(4) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 4);
}

/* #endregion */
/* #region next */

.next {
  z-index: 2;
  grid-area: next;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* #endregion */
/* #region Game of Life */

.media {
  z-index: 2;
  grid-area: media;

  height: 100%;

  margin-left: 1rem;
  margin-right: 3rem;

  box-sizing: border-box;

  display: none;
  overflow: hidden;
  position: relative;
}

.game {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  mask-image: radial-gradient(circle, black, transparent 60%);
  -webkit-mask-image: radial-gradient(circle, #000, transparent 60%);
}

/* #endregion */
/* #region media query */

@media (min-width: 768px) {
  .layout {
    justify-items: center;
  }
  .content {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .layout {
    grid-template-areas:
      'social social'
      'content media'
      'next next';
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 4fr 1fr;
    justify-items: stretch;
  }

  .content {
    margin-left: 3rem;
    margin-right: 1rem;
  }

  .media {
    display: block;
  }
}

@media (min-width: 1440px) {
  .layout {
    grid-template-areas:
      'social media'
      'content media'
      'next media';
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 4fr 1fr;
    justify-items: stretch;
  }

  .content {
    margin-left: 3rem;
    margin-right: 1rem;
  }

  .media {
    display: block;
  }
}

/* #endregion */
