/* #region default values */

:host {
  --inner-transition-function: cubic-bezier(0.645, 0.045, 0.355, 1);

  --inner-fill-filter: var(
    --fill-filter,
    invert(60%) sepia(130%) saturate(100%) hue-rotate(187deg) brightness(86%) contrast(120%)
  );
  --inner-light-off-color: var(--light-off-color, rgba (14, 14, 14, 0.4));
  --inner-light-on-color: var(--light-on-color, rgba(204, 214, 246, 1));
  --inner-low-shadow: var(--low-shadow, rgba(255, 255, 255, 0.5));
  --inner-high-shadow: var(--high-shadow, rgba(255, 255, 255, 1));
}

/* #endregion */
/* #region container */

.container {
  width: 100%;
  height: 100%;

  position: absolute;

  border-radius: 31%;
  border: none;

  background-color: var(--primary-color-40);
  box-shadow: var(--elevation-shadow-level2);

  padding: 30%;

  transition: box-shadow, transform var(--motion-duration-medium1) cubic-bezier(var(--motion-easing-emphasized));
}

.container::before,
.container::after {
  content: '';
  position: absolute;
  top: 2%;
  left: 2%;
  width: 90%;
  height: 90%;
  border-radius: 31%;
  border: 2px solid transparent;
  filter: blur(0);
  transform-origin: 50%;
  z-index: -1;
}

.container::before {
  animation-delay: 0s;
}

.container::after {
  animation-delay: var(--motion-duration-short4);
}

.container:hover {
  cursor: pointer;

  box-shadow: var(--elevation-shadow-level5);
  transform: scale(var(--elevation-scale-level3));
}

.container:hover .state-layer {
  background-color: var(--primary-color-hover);
}

@keyframes anim-click-color {
  0% {
    border-color: rgba(var(--elevation-shadow-color), 0.7);
  }
  100% {
    border-color: transparent;
  }
}

@keyframes anim-click-blur {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(2px);
  }
}

@keyframes anim-click-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

.container.anim-click::before,
.container.anim-click::after {
  animation-timing-function: cubic-bezier(var(--motion-easing-emphasized)),
    cubic-bezier(var(--motion-easing-emphasized)), cubic-bezier(var(--motion-easing-emphasized));
  animation-duration: var(--motion-duration-extra4), calc(var(--motion-duration-extra4) * 2),
    var(--motion-duration-extra3);
  animation-fill-mode: forwards, forwards, forwards;
  animation-name: anim-click-scale, anim-click-blur, anim-click-color;
}

/* #endregion */
/* #region state-layer */

.state-layer {
  width: inherit;
  height: inherit;

  position: absolute;
  top: 0;
  left: 0;

  border: inherit;
  border-radius: inherit;

  z-index: 2;

  background-color: transparent;

  transition: background-color var(--motion-duration-medium1) cubic-bezier(var(--motion-easing-emphasized));
}

/* #endregion */
/* #region icon*/

.icon {
  width: 100%;
  height: 100%;

  position: relative;

  fill: var(--primary-font-color-1);

  z-index: 2;
}

/* #endregion*/
