/* #region default values */

:host {
  --inner-transition-function: cubic-bezier(0.645, 0.045, 0.355, 1);

  --inner-fill-filter: var(
    --fill-filter,
    invert(60%) sepia(130%) saturate(100%) hue-rotate(187deg) brightness(86%) contrast(120%)
  );
  --inner-light-off-color: var(--light-off-color, rgba (14, 14, 14, 0.4));
  --inner-light-on-color: var(--light-on-color, rgba(204, 214, 246, 1));
  --inner-low-shadow: var(--low-shadow, rgba(255, 255, 255, 0.5));
  --inner-high-shadow: var(--high-shadow, rgba(255, 255, 255, 1));
}

/* #endregion */
/* #region container */

.container {
  width: 100%;
  height: 100%;
}

.container:hover {
  cursor: pointer;
}

.background {
  width: 90%;
  height: 90%;

  position: absolute;

  left: 5%;
  top: 5%;

  border-radius: 5rem;

  background-color: var(--inner-light-on-color);
}

/* #endregion */
/* #region icon*/

.icon {
  width: 100%;
  height: 100%;

  -webkit-filter: drop-shadow(0rem 0rem 0.2rem var(--inner-low-shadow));
  filter: drop-shadow(0rem 0rem 0.2rem var(--inner-low-shadow));

  transition-property: all;
  transition-delay: 0;
  transition-timing-function: var(--inner-transition-function);
  transition-duration: 0.4s;

  z-index: 2;
}

.icon img {
  width: 100%;
  height: 100%;

  transition-property: all;
  transition-delay: 0;
  transition-timing-function: var(--inner-transition-function);
  transition-duration: 0.2s;

  z-index: 2;
}

.icon:hover {
  -webkit-filter: drop-shadow(0rem 0rem 1rem var(--inner-high-shadow));
  filter: drop-shadow(0rem 0rem 1rem var(--inner-high-shadow));
}

/* #endregion*/
