/* #region default values */

:host {
  --inner-transition-function: cubic-bezier(0.645, 0.045, 0.355, 1);

  --inner-fill-filter: var(
    --fill-filter,
    invert(60%) sepia(130%) saturate(100%) hue-rotate(187deg) brightness(86%) contrast(120%)
  );
  --inner-light-off-color: var(--light-off-color, rgba (14, 14, 14, 0.4));
  --inner-light-on-color: var(--light-on-color, rgba(204, 214, 246, 1));
  --inner-low-shadow: var(--low-shadow, rgba(255, 255, 255, 0.5));
  --inner-high-shadow: var(--high-shadow, rgba(255, 255, 255, 1));
}

/* #endregion */
/* #region container */

.container {
  width: 100%;
  height: 100%;

  position: absolute;

  border-radius: 50%;
  border: none;

  background-color: var(--primary-color-40);
  box-shadow: var(--elevation-shadow-level2);

  padding: 30%;

  transition: box-shadow, transform var(--motion-duration-medium1) cubic-bezier(var(--motion-easing-emphasized));
}

.container:hover {
  cursor: pointer;

  box-shadow: var(--elevation-shadow-level5);
  transform: scale(var(--elevation-scale-level3));
}

.container:hover .state-layer {
  background-color: var(--primary-color-hover);
}

/* #endregion */
/* #region state-layer */

.state-layer {
  width: inherit;
  height: inherit;

  position: absolute;
  top: 0;
  left: 0;

  border: inherit;
  border-radius: inherit;

  z-index: 2;

  background-color: transparent;

  transition: background-color var(--motion-duration-medium1) cubic-bezier(var(--motion-easing-emphasized));
}

/* #endregion */
/* #region icon*/

.icon {
  width: 100%;
  height: 100%;

  position: relative;

  fill: var(--on-primary-color-10);

  z-index: 2;
}

/* #endregion*/
