/* #region default values */
:host {
  --inner-primary-text-color: var(--primary-text-color, #ccd6f6);
  --inner-secondary-text-color: var(--secondary-text-color, #8892b0);
  --inner-black-text-color: var(--black-text-color, #030303);
  --inner-primary-color: var(--primary-color, #64ffda);

  --inner-font: var(--font, 'Montserrat', sans-serif);
  --inner-font-normal-weight: var(--font-normal-weight, 300);
  --inner-font-bold-weight: var(--font-bold-weight, 600);

  --inner-primary-background-color: var(--primary-background-color, rgba(56, 56, 56, 1));
  --inner-secondary-background-color: var(--secondary-background-color, rgba(9, 9, 9, 1));

  --inner-fadeUp-offset: 0.1s;
  --inner-fadeUp-duration: 0.3s;
  --inner-fadeUp-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  --inner-fadeUp-delay: 0.5s;
  --inner-fadeUp-fill: forwards;
  --inner-fadeUp-name: fadeUp;

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  background: rgb(56, 56, 56);
  background: -moz-radial-gradient(
    circle,
    var(--inner-primary-background-color) 0%,
    var(--inner-secondary-background-color) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    var(--inner-primary-background-color) 0%,
    var(--inner-secondary-background-color) 100%
  );
  background: radial-gradient(
    circle,
    var(--inner-primary-background-color) 0%,
    var(--inner-secondary-background-color) 100%
  );

  font: var(--inner-font);
  font-weight: var(--inner-font-normal-weight);
  color: var(--inner-secondary-text-color);
}

/* #endregion */
/* #region animations */

@keyframes fadeUp {
  0% {
    opacity: 0.01;
    transform: translatey(20px);
  }
  100% {
    opacity: 100;
    transform: translatey(0px);
  }
}

.fadeUp {
  opacity: 0;
  animation-duration: var(--inner-fadeUp-duration);
  animation-timing-function: var(--inner-fadeUp-function);
  animation-delay: var(--inner-fadeUp-delay);
  animation-fill-mode: var(--inner-fadeUp-fill);
  animation-name: var(--inner-fadeUp-name);
}

.fadeUp-1 {
  animation-delay: calc(var(--inner-fadeUp-delay) + var(--inner-fadeUp-offset));
}

.fadeUp-2 {
  animation-delay: calc(var(--inner-fadeUp-delay) + var(--inner-fadeUp-offset) * 2);
}

.fadeUp-3 {
  animation-delay: calc(var(--inner-fadeUp-delay) + var(--inner-fadeUp-offset) * 3);
}

.fadeUp-4 {
  animation-delay: calc(var(--inner-fadeUp-delay) + var(--inner-fadeUp-offset) * 4);
}

@keyframes picture-float {
  0% {
    transform: translatey(10px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(10px);
  }
}

/* #endregion */
/* #region typography */

.textcolor-primary {
  color: var(--inner-primary-text-color);
}

.textcolor-secondary {
  color: var(--inner-secondary-text-color);
}

.textcolor-black {
  color: var(--inner-black-text-color);
}

.textcolor-accent {
  color: var(--inner-primary-color);
}

.text-normal {
  font-weight: var(--inner-font-normal-weight);
  font-size: 1.1rem;
  line-height: 1.5em;
}

.text-title {
  font-weight: var(--inner-font-bold-weight);
  font-size: 4.5rem;
  line-height: 1.1em;
}

/* #endregion */
/* #region layouts */

.front {
  flex-grow: 2;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.welcome {
  width: 50vw;

  padding-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.front .side {
  margin-left: 5em;
  margin-right: 5em;
  display: flex;
  width: clamp(600px, 30vw, 30vw);

  flex-direction: column;
}

/* #endregion */

.front .side .picture {
  flex-grow: 2;
  background-image: url('../public/space-invaders.svg');
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-filter: drop-shadow(15px 15px 5px var(--inner-primary-color));
  filter: drop-shadow(15px 15px 5px var(--inner-primary-color));

  opacity: 0;
  animation-duration: 10s, 6s;
  animation-timing-function: var(--inner-fadeUp-function), ease-in-out;
  animation-delay: var(--inner-fadeUp-delay), 0s;
  animation-fill-mode: var(--inner-fadeUp-fill);
  animation-iteration-count: 1, infinite;
  animation-name: var(--inner-fadeUp-name), picture-float;
}

.callaction {
  margin-bottom: 4em;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: row;
}

.callaction button {
  height: 2.5em;
  width: 8em;
  border-radius: 1em;
  border: none;

  font: var(--inner-font);
  font-weight: var(--inner-font-bold-weight);
  font-size: 1.5em;

  margin-left: 0.2em;
  margin-right: 0.2em;

  box-shadow: 1px 1px 10px #aaa;
  transition: all 0.3s var(--inner-fadeUp-function);
}

.callaction button:hover {
  cursor: pointer;

  box-shadow: 1px 1px 25px #fff;

  width: 9em;
  font-size: 2em;
}

.callaction button.outline {
  background-color: transparent;
  border-style: solid;
  border-color: var(--inner-primary-color);
  border-width: 2px;
  color: var(--inner-primary-color);
}

.callaction button.fill {
  background-color: var(--inner-primary-color);
  border-style: none;
  color: var(--inner-black-text-color);
}

.callaction-bottom {
  display: none;
}

.profiles {
  margin-top: 3rem;
  margin-bottom: 3rem;

  display: flex;
  flex-wrap: nowrap;

  justify-content: center;
}

.profiles .profile-cards {
  width: 15rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
/* 
@media (max-width: 1741px) {
  .front section.content .what-do h1 {
    font-size: clamp(25px, 8vw, 50px);
  }
}

@media (max-width: 1280px) {
  .front section.content .greeting h1 {
    font-size: clamp(12px, 5vw, 14px);
  }

  .front section.content .name h1 {
    font-size: clamp(36px, 10vw, 40px);
  }

  .front section.content .what-do h1 {
    font-size: clamp(36px, 8vw, 40px);
  }

  .front section.content {
    margin-right: 0em;
  }
  .front .picture {
    width: clamp(200px, 50vw, 300px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1080px) {
  .front section.content .what-do h1 {
    font-size: clamp(25px, 8vw, 30px);
  }
}

@media (max-width: 870px) {
  .front section.content {
    max-width: 100%;
  }

  .front section.content {
    margin-right: 5em;
  }

  .front .side {
    display: none;
  }

  .callaction-bottom {
    display: flex;
    flex-grow: 1;
    margin-bottom: 0;
  }
}

@media (max-width: 595px) {
  .front section.content {
    margin-left: 3em;
    margin-right: 3em;
  }

  .front section.content .greeting h1 {
    font-size: clamp(9px, 5vw, 16px);
  }

  .front section.content .name h1 {
    font-size: clamp(16px, 8vw, 36px);
  }

  .front section.content .what-do h1 {
    font-size: clamp(16px, 8vw, 25px);
  }

  .front section.content .description {
    font-size: clamp(10px, 5vw, 16px);
  }
} */

@media (max-width: 375px) {
  .front section.content {
    margin-left: 1em;
    margin-right: 1em;
  }
}
