/* #region default values */
:host {
  --inner-primary-text-color: var(--primary-text-color, #ccd6f6);
  --inner-secondary-text-color: var(--secondary-text-color, #8892b0);
  --inner-black-text-color: var(--black-text-color, #030303);
  --inner-primary-color: var(--primary-color, #64ffda);

  --inner-font: var(--font, 'Montserrat', sans-serif);
  --inner-font-normal-weight: var(--font-normal-weight, 300);
  --inner-font-bold-weight: var(--font-bold-weight, 600);

  --inner-primary-background-color: var(--primary-background-color, #383838);
  --inner-secondary-background-color: var(--secondary-background-color, #090909);

  --inner-fadeUp-offset: 0.1s;
  --inner-fadeUp-duration: 0.3s;
  --inner-fadeUp-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  --inner-fadeUp-delay: 0.5s;
  --inner-fadeUp-fill: forwards;
  --inner-fadeUp-name: fadeUp;

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: rgb(56, 56, 56);
  background: -moz-radial-gradient(
    circle,
    var(--inner-primary-background-color) 0%,
    var(--inner-secondary-background-color) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    var(--inner-primary-background-color) 0%,
    var(--inner-secondary-background-color) 100%
  );
  background: radial-gradient(
    circle,
    var(--inner-primary-background-color) 0%,
    var(--inner-secondary-background-color) 100%
  );

  font: var(--inner-font);
  font-weight: var(--inner-font-normal-weight);
  color: var(--inner-secondary-text-color);
}
/* #endregion */
/* #region utils*/
.hide {
  display: none !important;
}
/* #endregion */
/* #region animations */

@keyframes fadeUp {
  0% {
    opacity: 0.01;
    transform: translatey(20px);
  }
  100% {
    opacity: 100;
    transform: translatey(0px);
  }
}

.fadeUp {
  opacity: 0;
  animation-duration: var(--inner-fadeUp-duration);
  animation-timing-function: var(--inner-fadeUp-function);
  animation-delay: var(--inner-fadeUp-delay);
  animation-fill-mode: var(--inner-fadeUp-fill);
  animation-name: var(--inner-fadeUp-name);
}

.fadeUp-1 {
  animation-delay: calc(var(--inner-fadeUp-delay) + var(--inner-fadeUp-offset));
}

.fadeUp-2 {
  animation-delay: calc(var(--inner-fadeUp-delay) + var(--inner-fadeUp-offset) * 2);
}

.fadeUp-3 {
  animation-delay: calc(var(--inner-fadeUp-delay) + var(--inner-fadeUp-offset) * 3);
}

.fadeUp-4 {
  animation-delay: calc(var(--inner-fadeUp-delay) + var(--inner-fadeUp-offset) * 4);
}

@keyframes picture-float {
  0% {
    transform: translatey(10px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(10px);
  }
}

/* #endregion */
/* #region typography */

.textcolor-primary {
  color: var(--inner-primary-text-color);
}

.textcolor-secondary {
  color: var(--inner-secondary-text-color);
}

.textcolor-black {
  color: var(--inner-black-text-color);
}

.textcolor-accent {
  color: var(--inner-primary-color);
}

.text-normal {
  font-weight: var(--inner-font-normal-weight);
  font-size: 1.1rem;
  line-height: 1.5em;
}

.text-title {
  font-weight: var(--inner-font-bold-weight);
  font-size: 4.5rem;
  line-height: 1.1em;
}

/* #endregion */
/* #region layouts */
.spacing {
  flex-grow: 3;
}

.front {
  width: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.welcome {
  width: 50vw;

  padding-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side {
  margin-left: 3rem;
  margin-right: 3rem;

  display: flex;
  flex-direction: column;
}

.profiles {
  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  flex-wrap: nowrap;

  justify-content: center;
}
/* #endregion */
/* #region picture */
.picture {
  flex-grow: 2;
  background-image: url('../public/space-invaders.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-filter: drop-shadow(0rem 0rem 5rem var(--inner-primary-color));
  filter: drop-shadow(0rem 0rem 5rem var(--inner-primary-color));

  opacity: 0;
  animation-duration: 10s, 6s;
  animation-timing-function: var(--inner-fadeUp-function), ease-in-out;
  animation-delay: var(--inner-fadeUp-delay), 0s;
  animation-fill-mode: var(--inner-fadeUp-fill);
  animation-iteration-count: 1, infinite;
  animation-name: var(--inner-fadeUp-name), picture-float;

  margin-bottom: 0rem;
}

/* #endregion */
/* #region call to action */

.call2action {
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: row;
}

.call2action button {
  width: 15rem;
  height: 4rem;
  border-radius: 2rem;
  border: none;

  font: var(--inner-font);
  font-weight: var(--inner-font-bold-weight);
  font-size: 1.5rem;

  margin-left: 1rem;
  margin-right: 1rem;

  box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.5);

  transition-property: all;
  transition-delay: 0;
  transition-timing-function: var(--inner-fadeUp-function);
  transition-duration: 0.4s;
}

.call2action button:hover {
  cursor: pointer;

  --scale: 1.15;

  width: calc(15rem * var(--scale));
  height: calc(4rem * var(--scale));
  border-radius: calc(2rem * var(--scale));

  font-size: calc(1.5rem * var(--scale));

  box-shadow: 0rem 0rem calc(1rem * var(--scale) * 2) rgba(255, 255, 255, 1);
}

.call2action button.outline {
  color: var(--inner-primary-color);
  border-color: var(--inner-primary-color);

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);

  border-style: solid;
  border-width: 2px;
}

.call2action button.fill {
  color: var(--inner-black-text-color);
  background-color: var(--inner-primary-color);

  border-style: none;
}

/* #endregion */
/* #region profiles */
.fake-profile-card {
  height: 21rem;
}

.profile-card {
  width: 15rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.profile-card-devops {
  --primary-color: #ff656f;
  --primary-filter-color: invert(48%) sepia(71%) saturate(550%) hue-rotate(308deg) brightness(101%) contrast(103%);
  --high-shadow-color: var(--primary-color);
}

.profile-card-mentorship {
  --primary-color: #30bbff;
  --primary-filter-color: invert(41%) sepia(44%) saturate(5165%) hue-rotate(202deg) brightness(102%) contrast(101%);
  --high-shadow-color: var(--primary-color);
}

.profile-card-frontend {
  --primary-color: #ffc176;
  --primary-filter-color: invert(99%) sepia(48%) saturate(5094%) hue-rotate(305deg) brightness(102%) contrast(102%);
  --high-shadow-color: var(--primary-color);
}

.profile-card-backend {
  --primary-color: #bf2eff;
  --primary-filter-color: invert(23%) sepia(75%) saturate(5089%) hue-rotate(270deg) brightness(113%) contrast(101%);
  --high-shadow-color: var(--primary-color);
}

/* #endregion */
/* #region media queries */
@media (max-width: 425px) {
  .hide {
    display: flex !important;
    margin-top: 3rem;
  }

  .side {
    display: none;
  }

  .welcome {
    width: 100vw;
  }

  .profile-cards {
    width: 10rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
/* #endregion */
