/* #region default value */
:host {
  --inner-background-overly-color: var(--background-overly-color, rgba(37, 37, 37, 0.5));
  --inner-background-window-color: var(--background-window-color, rgba(37, 37, 37, 1));

  --inner-shadow-color: var(--shadow-color, rgba(255, 255, 255, 1));

  position: absolute;
  width: 100vw;
  height: calc(var(--vh) * 100);

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--inner-background-overly-color);
  backdrop-filter: blur(10px);

  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
    background-color: var(--inner-shadow-color);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
    background-color: var(--inner-background-overly-color);
  }
  100% {
    transform: scaleY(1) scaleX(1);
    background-color: var(--inner-background-overly-color);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
    background-color: var(--inner-background-overly-color);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
    background-color: var(--inner-shadow-color);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
    background-color: var(--inner-shadow-color);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

/* #endregion */
/* #region layouts */

.modal {
  border-radius: 3rem;

  width: 80vw;
  height: calc(var(--vh) * 70);

  background-color: var(--inner-background-window-color);

  box-shadow: 0px 0px 20rem var(--inner-shadow-color);
}

/* #endregion */
