@import url('@splidejs/splide/css/sea-green');
/* #region default values */
:host {
  --inner-splide-height: 25rem;
  --inner-hard-skill-delay: var(--motion-duration-short4);

  --inner-frontend-color: #ffd482;
  --inner-backend-color: #ae00ff;
  --inner-gamedev-color: #00ffc3;
  --inner-sre-color: #f839ff;
  --inner-mentorship-color: #00e2ff;
}

:host * {
  font-family: var(--tertiary-font);
  color: var(--secondary-font-color-1);
}
/* #endregion */
/* #region page */
.container {
  position: relative;
  min-width: 100vw;
  background-color: var(--primary-background-color-1);
}

.upper {
  position: sticky;
  z-index: 5;
  width: 4rem;
  height: 4rem;
  left: calc(100vw - 5rem);
  bottom: 2rem;
  opacity: 0.2;
  transform: scale(0.1);

  transition: opacity var(--motion-duration-medium3) cubic-bezier(0.5, 0.5, 0.2, 1.5),
    transform var(--motion-duration-medium3) cubic-bezier(0.5, 0.5, 0.2, 1.5);
}

.upper:hover {
  cursor: pointer;
}

.upper.reveal-active {
  opacity: 1;
  transform: scale(1);
}

.upper svg {
  position: relative;
  fill: var(--primary-background-color-1);
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: none;

  filter: drop-shadow(0px 0px 3px var(--secondary-background-color-1));
}

.upper svg path {
  pointer-events: none;
}
/* #endregion */
/* #region layout */

.layout {
  width: 100%;

  display: grid;

  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-columns: 100%;
  grid-template-rows: var(--inner-splide-height) auto 20rem;
  justify-items: stretch;
  align-items: stretch;
}

/* #endregion */
/* #region header*/

.header {
  grid-area: header;
  height: var(--inner-splide-height);
}

.header-portrait {
  display: block;
}

.header-landscape {
  position: relative;
  display: none;
  width: 100%;
  z-index: 0;
  flex-direction: row;
  justify-items: stretch;
  align-items: stretch;
}

.header-landscape-background {
  position: absolute;
  width: 100%;
  height: var(--inner-splide-height);
  left: 0;
  top: 0;
  background-color: yellow;
  z-index: -1;
}

.header-landscape-background video {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  z-index: 1;
}

.header-landscape-poster {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;

  background-image: url('/profile/background-generic.jpg');
  background-position: top;
  background-size: cover;

  pointer-events: none;

  opacity: 1;
  transition: opacity 1s linear;
}

.header-landscape-poster.hide {
  opacity: 0;
}

.header-landscape-content {
  position: relative;
  width: 1238px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  background-color: transparent;
  z-index: 1;
}

.header-landscape-titles {
  display: flex;
  height: 100%;

  flex-direction: column;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: center;
}

.header-landscape-titles h2 {
  color: var(--primary-font-color-1);
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 3.5rem;
  text-transform: uppercase;
  transform: scale(1, 1.2);
  text-align: center;
  margin: 0;

  opacity: 0.5;
  text-shadow: none;

  transition: opacity var(--motion-duration-short4) cubic-bezier(var(--motion-easing-emphasized)),
    color var(--motion-duration-extra4) cubic-bezier(var(--motion-easing-emphasized)),
    text-shadow var(--motion-duration-medium4) cubic-bezier(var(--motion-easing-emphasized));
}

.header-landscape-titles h2:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.1, 1.2);
}

.header-landscape-titles h2.active {
  color: var(--primary-color-40);
  opacity: 1;
  text-shadow: 0px 0px 0.3rem var(--primary-color-40);
}

.header-landscape-card {
  display: none;
  height: var(--inner-splide-height);
  width: var(--inner-splide-height);
}

.header-landscape-card.active {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-landscape-headline {
  color: var(--primary-font-color-1);
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0;
  text-shadow: 0px 0px 0.3rem black;

  opacity: 0;
  transform: translateY(20px);
}

.header-landscape-card.active .header-landscape-headline {
  animation: headline-fade var(--motion-duration-extra4) cubic-bezier(var(--motion-easing-emphasized)) forwards;
}

@keyframes headline-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-landscape-card .header-landscape-image {
  width: calc(var(--inner-splide-height) - 10rem);

  opacity: 0;
  transform: scale(0.9) translateY(-30px);
}

.header-landscape-card.active .header-landscape-image {
  animation: image-fade var(--motion-duration-long2) cubic-bezier(var(--motion-easing-emphasized))
    var(--motion-duration-extra4) 1 forwards;
}

@keyframes image-fade {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(-30px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.aaheader-landscape-card .image::after {
  content: '';
  position: relative;
  top: calc(
    var(--inner-height) - var(--inner-height-title) - var(--inner-height-headline) - var(--inner-height-footer) / 1.5
  );

  width: calc((var(--inner-height) - var(--inner-height-title) - var(--inner-height-headline)) * 0.8);
  height: 1rem;

  border-radius: 50%;

  background-color: var(--secondary-font-color-5);
  filter: blur(5px);
}

.header-landscape-icon-FRONTEND {
  fill: var(--inner-frontend-color);
  filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 5px var(--inner-frontend-color));
}

.header-landscape-icon-BACKEND {
  fill: var(--inner-backend-color);
  filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 5px var(--inner-backend-color));
}

.header-landscape-icon-GAMEDEV {
  fill: var(--inner-gamedev-color);
  filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 5px var(--inner-gamedev-color));
}

.header-landscape-icon-SRE {
  fill: var(--inner-sre-color);
  filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 5px var(--inner-sre-color));
}

.header-landscape-icon-MENTORSHIP {
  fill: var(--inner-mentorship-color);
  filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 5px var(--inner-mentorship-color));
}
/* #endregion */
/* #region carousel menu*/

.splide {
  height: var(--inner-splide-height);

  padding: 0;
}

.splide__arrow svg {
  fill: var(--primary-color-40);
}

.splide__arrow:hover:not(:disabled) svg {
  fill: hsla(var(--primary-color-40-compose), 0.8);
  filter: drop-shadow(0px 0px 5px var(--primary-color-40));
}

.splide__pagination {
  bottom: unset;
  top: 5.5rem;
}

.splide__pagination__page {
  width: 32px;
  height: 6px;
  background-color: transparent;
  border: 1px solid hsla(var(--primary-background-color-1-compose), 0.8);
  border-radius: 0;
  box-sizing: border-box;
}

.splide__pagination__page:hover {
  background-color: hsla(var(--primary-background-color-1-compose), 1);
  filter: drop-shadow(0px 0px 5px hsla(var(--primary-background-color-1-compose), 1));
}

.splide__pagination__page.is-active {
  background-color: var(--primary-color-40);
  filter: drop-shadow(0px 0px 5px hsla(var(--primary-color-40-compose), 1));
  border: 1;
  border-color: var(--primary-color-40);
}

/* #endregion */

/* #region content */

.megacontent {
  grid-area: content;
  position: relative;
}

.content {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  margin: 0 auto;
}

.content::after {
  content: '';
  position: absolute;
  top: 0;
  z-index: 0;

  height: 100%;

  display: block;
  pointer-events: none;

  border-left: 1px solid rgba(9, 9, 9, 0.4);
  left: 5%;
}

.section-basic {
  border-bottom: 1px solid #bdbcb7;
  padding-bottom: 2rem;
  padding-left: 2px;
}

.section-basic h2 {
  color: var(--secondary-font-color-1);
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 3rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  transform: scale(1, 1.2);
}

.section-basic h3 {
  color: var(--secondary-font-color-2);
  text-transform: uppercase;
  font-size: 1.1rem;
}

.section-basic p {
  color: var(--secondary-font-color-4);
  line-height: 1.4;
  font-weight: 500;
}

.skill-bar {
  box-sizing: border-box;
  position: relative;
}

.skills {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.skills::before {
  content: '';
  display: block;
  height: 0.1rem;
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  background-color: #8b978f;
}

.skill {
  font-family: var(--primary-font);
  color: var(--secondary-font-color-1);
  font-size: 3rem;
  border: 1px solid #bdbcb7;
  color: #8b978f;
  width: 3.2rem;
  height: 3.2rem;
  box-sizing: border-box;
  background-color: var(--primary-background-color-1);
  z-index: 2;
  text-align: center;
  cursor: pointer;
}

.skill:hover {
  border: 1px solid var(--secondary-font-color-1);
  color: var(--secondary-font-color-1);
}

.skill.active {
  border: 1px solid var(--primary-color-40);
  color: var(--primary-color-40);
}

.skill .icon {
  pointer-events: none;
  fill: #8b978f;
}

.skill:hover .icon {
  fill: var(--secondary-font-color-1);
}

.skill.active .icon {
  fill: var(--primary-color-40);
}

.hard-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.hard-skill {
  background-color: var(--primary-background-color-1);
  color: red;

  display: inline-block;
  padding: 0 1rem;
  height: 2rem;
  font-size: 1rem;
  line-height: 2rem;
  border-radius: 1rem;
  background-color: var(--primary-background-color-1);
  margin-left: 0.5rem;
  margin-top: 0.5rem;

  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}

@keyframes anim-hard-skills {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hard-skills * {
  opacity: 1;
  animation-duration: var(--motion-duration-long2);
  animation-fill-mode: forwards;
  animation-timing-function: var(--motion-easing-standard-decelerate);
}

.hard-skills *.reveal-active {
  animation-name: anim-hard-skills;
}

.hard-skill:nth-child(1) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 1);
}
.hard-skill:nth-child(2) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 2);
}
.hard-skill:nth-child(3n) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 3);
}
.hard-skill:nth-child(4) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 4);
}
.hard-skill:nth-child(5n) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 5);
}
.hard-skill:nth-child(6) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 6);
}
.hard-skill:nth-child(7n) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 7);
}
.hard-skill:nth-child(8n) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 8);
}
.hard-skill:nth-child(9n) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 9);
}
.hard-skill:nth-child(11n) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 10);
}
.hard-skill:nth-child(12) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 11);
}
.hard-skill:nth-child(13) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 12);
}
.hard-skill:nth-child(17) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 13);
}
.hard-skill:nth-child(n + 18) {
  animation-delay: calc(var(--inner-hard-skill-delay) * 14);
}

/* #endregion */
/* #region projects*/

.section-basic.section-projects {
  padding-left: 0px;
}

.section-basic.section-projects h2 {
  padding-left: 2px;
}

.section-basic.section-projects .projects {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.section-basic.section-projects .project .project-content h2 {
  margin-top: 0;
}

.project {
  border: none;
  background-color: #0f1923;
  position: relative;

  width: 75vw;

  margin: 1rem;

  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}

.project h2,
.project h3,
.project p {
  color: var(--primary-font-color-1);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.project h2 {
  font-size: 1.5rem;
  margin-left: calc(2px + 1rem);
}

.project p {
  font-weight: 300;
  line-height: 1.5rem;
}

.project .media {
  height: 25vh;
}

.project .media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .more {
  height: 4rem;
  align-self: center;
  margin-bottom: 1rem;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.project-content::after {
  content: '';
  border-right: 2.6rem solid transparent;
  border-bottom: 2rem solid #0f1923;
  left: 0;
  right: 0;
  bottom: 100%;
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
}

/* #endregion */
/* #region alert */

.section-alert {
  width: 100%;
  background-color: var(--primary-color-40);
  position: relative;
  box-sizing: border-box;
  padding-top: 3.6rem;
  padding-left: 5%;
  padding-right: 5%;
}

.section-alert::before {
  content: '';
  position: absolute;
  left: 5%;
  right: 5%;
  top: 2rem;

  height: 1px;

  display: block;

  box-sizing: border-box;

  background-color: var(--primary-background-color-1);

  z-index: 2;
}

.section-alert::after {
  content: '';
  border-right: 2.6rem solid transparent;
  border-bottom: 2rem solid var(--primary-background-color-1);
  left: 0;
  right: 75%;
  bottom: 0;
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
}

.section-alert p {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--secondary-background-color-1);
  font-size: 1rem;
  text-shadow: 0px 0px 1px var(--secondary-background-color-1);
}

.alert-socialbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: baseline;
  height: 4rem;
  padding-right: 5%;
}

.alert-socialbar * {
  opacity: 0;
  width: 2rem;
  height: 2rem;
}

.alert-content {
  margin: 0 auto;
}

/* #endregion */
/* #region footer */

.footer {
  grid-area: footer;
  background-color: #111;
  padding-bottom: 3rem;
  box-sizing: border-box;
}

.footer-links {
  user-select: none;
  box-sizing: border-box;
  font-family: 'FF Mark W05', Arial, sans-serif;
  background: #292929;
  padding: 24px;
  margin: 0;
  color: #7e7e7e;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
}

.footer-links * {
  box-sizing: border-box;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links ul li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #f9f9f9;
  transition: all 0.2s linear;
}

.footer-links ul li a:hover {
  background: rgba(128, 128, 128, 0.3);
  border-radius: 6.4px;
}

/* #endregion */

/* #region social */

.socialbar {
  z-index: 2;
  grid-area: social;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: 1.5rem;
}

.socialbar * {
  opacity: 0;
  width: 2rem;
  height: 2rem;
}

@keyframes fade-social-icon {
  0% {
    opacity: 0.01;
    transform: translatex(-100px);
  }
  100% {
    opacity: 100;
    transform: translatex(0px);
  }
}

.anim-social-icon {
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: var(--animation-function);
  animation-fill-mode: forwards;
}

.anim-social-icon:nth-child(1) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 4);
}

.anim-social-icon:nth-child(3) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 3);
}

.anim-social-icon:nth-child(5) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 2);
}

.anim-social-icon:nth-child(7) {
  animation-delay: calc(var(--inner-home-page-fade-delay) + var(--inner-home-page-fade-offset) * 1);
}

/* #endregion */
/* #region revelation */

.revealable {
  position: relative;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.reveal-active.reveal {
  animation-name: reveal;
}

.reveal-active.reveal-by-down {
  animation-name: reveal-by-down;
}

.reveal-active.reveal-by-left {
  animation-name: reveal-by-left;
}

.reveal-active.reveal-by-right {
  animation-name: reveal-by-right;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes reveal-by-down {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes reveal-by-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes reveal-by-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.anim-social-icon.reveal-active {
  animation-name: fade-social-icon;
}

/* #endregion */

/* #region media queries*/

@media (max-width: 320px) {
}

@media (min-width: 375px) {
}

@media (min-width: 425px) {
  .project {
    width: 500px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  html {
    font-size: 14pt;
  }

  .project {
    width: 340px;
  }

  .header-portrait {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
  }

  .header-landscape {
    display: flex;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 14pt;
  }
}

@media (min-width: 1366px) {
  html {
    font-size: 14pt;
  }

  .content {
    width: 1230px;
    padding-left: auto;
    padding-right: auto;
  }

  .alert-content {
    width: 1230px;
  }

  .project {
    width: 350px;
  }
}

@media (min-width: 1440px) {
  :host {
    font-size: 14pt;
  }
}

@media (min-width: 1680px) {
  :host {
    font-size: 14pt;
  }
}

@media (min-width: 2560px) {
  :host {
    font-size: 14pt;
  }
}
/* #endregion */
