/* #region import fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

/* #endregion */
/* #region default values */

:root {
  font-family: 'Monserrat', sans-serif;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

/* #endregion */
/* #region global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* #endregion */
/* #region app styles */

#app {
  margin: 0;
  padding: 0;

  display: flex;
}

/* #endregion */
/* #region principal media queries */

@media (max-width: 2560px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 5px;
  }
}

/* #endregion */
