/* #region import fonts */

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,700;1,700&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: 'Valorant';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/valorant-font.ttf) format('truetype');
}

/* #endregion */

:root {
  color-scheme: light dark;

  --animation-function: ease-in-out;

  /* colors */
  /* #region valorant theme */
  --green-primary-color-key: hsl(166, 100%, 50%);
  --green-primary-color-40: hsl(166, 100%, 40%);
  --green-primary-color-40-compose: 166, 100%, 40%;
  --green-primary-color-40-70: hsla(166, 100%, 40%, 0.7);
  --green-primary-color-40-80: hsla(166, 100%, 40%, 0.8);
  --green-primary-color-hover: rgba(0, 0, 0, 0.1);

  --green-on-primary-color-100: hsl(166, 10%, 50%);
  --green-on-primary-color-100-75: hsla(166, 10%, 50%, 0.75);
  --green-on-primary-color-10: hsl(166, 10%, 10%);
  /* #enregion */
  --coor: #0f1923;
  /* #region valorant theme */
  /* negro #0f1923 en subtitulo*/
  /* negro en titulos de seccion #383e3a*/
  /* font sobre boton blanco #0f1923 ---parece el negro de todo*/
  /* font blanco en titulo #ece8e1 ---- parece el blanco de todo*/

  /*
  otros negros para fondo
  #292929
  #111111

  iconos no son redondos
  */

  --valorant-primary-font-color-1: hsl(38, 22%, 90%);
  --valorant-secondary-font-color-1: hsl(210, 40%, 10%);
  --valorant-secondary-font-color-2: hsl(140, 5%, 23%);

  --valorant-primary-background-color-1: hsl(38, 22%, 90%);
  --valorant-secondary-background-color-1: hsl(0, 0%, 0%);
  --valorant-secondary-background-color-2: hsl(0, 0%, 7%);
  --valorant-secondary-background-color-3: hsl(0, 0%, 16%);

  --valorant-primary-color-key: hsl(355, 100%, 50%);
  --valorant-primary-color-40: hsl(355, 100%, 64%);
  --valorant-primary-color-40-compose: 355, 100%, 64%;
  --valorant-primary-color-40-70: hsla(355, 100%, 64%, 0.7);
  --valorant-primary-color-40-80: hsla(355, 100%, 64%, 0.8);
  --valorant-primary-color-hover: rgba(0, 0, 0, 0.1);

  --valorant-secondary-color-key: hsl(208, 40%, 50%);
  --valorant-secondary-color-40: hsl(208, 40%, 40%);
  --valorant-secondary-color-10: hsl(208, 40%, 10%);

  --valorant-on-secondary-color-100: hsl(0, 0%, 100%);
  --valorant-on-secondary-color-10: hsl(0, 0%, 10%);

  --valorant-tertiary-color-key: hsl(225, 20%, 50%);
  --valorant-tertiary-color-40: hsl(225, 20%, 40%);
  --valorant-tertiary-color-10: hsl(225, 20%, 10%);

  --valorant-on-tertiary-color-100: hsl(0, 0%, 0%);
  --valorant-on-tertiary-color-10: hsl(0, 0%, 90%);

  --valorant-primary-font: 'Valorant';
  --valorant-secondary-font: 'Alumni Sans';
  --valorant-tertiary-font: 'Bai Jamjuree';
  /* #enregion */

  /* #region theme selected */

  --primary-font: var(--valorant-primary-font);
  --secondary-font: var(--valorant-secondary-font);
  --tertiary-font: var(--valorant-tertiary-font);

  --primary-font-color-key: hsl(38, 22%, 100%);
  --primary-font-color-1: hsl(38, 22%, 90%);
  --primary-font-color-1-compose: 38, 22%, 90%;
  --primary-font-color-2: hsl(38, 0%, 75%);
  --secondary-font-color-1: hsl(210, 40%, 10%);
  --secondary-font-color-2: hsl(140, 5%, 23%);
  --secondary-font-color-3: hsl(0, 0%, 49%);
  --secondary-font-color-4: hsl(138, 4%, 48%);
  --secondary-font-color-5: hsl(138, 4%, 58%);

  --primary-background-color-1: hsl(38, 22%, 90%);
  --primary-background-color-1-compose: 38, 22%, 90%;
  --secondary-background-color-1: hsl(0, 0%, 0%);
  --secondary-background-color-2: hsl(0, 0%, 7%);
  --secondary-background-color-3: hsl(0, 0%, 16%);

  --primary-color-key: var(--valorant-primary-color-key);
  --primary-color-40: var(--valorant-primary-color-40);
  --primary-color-40-compose: var(--valorant-primary-color-40-compose);
  --primary-color-40-70: var(--valorant-primary-color-40-70);
  --primary-color-40-80: var(--valorant-primary-color-40-80);
  --primary-color-hover: var(--valorant-primary-color-hover);

  --secondary-color-key: var(--valorant-secondary-color-key);
  --secondary-color-40: var(--valorant-secondary-color-40);
  --secondary-color-10: var(--valorant-secondary-color-10);

  --on-secondary-color-100: var(--valorant-on-secondary-color-100);
  --on-secondary-color-10: var(--valorant-on-secondary-color-10);

  --tertiary-color-key: var(--valorant-tertiary-color-key);
  --tertiary-color-40: var(--valorant-tertiary-color-40);
  --tertiary-color-10: var(--valorant-tertiary-color-10);

  --on-tertiary-color-100: var(--valorant-on-tertiary-color-100);
  --on-tertiary-color-10: var(--valorant-on-tertiary-color-10);

  /* #endregion */

  /* shadow */

  --elevation-shadow-color: 255, 255, 255;

  --elevation-shadow-key-umbra-opacity: 0.2;
  --elevation-shadow-key-penumbra-opacity: 0.14;
  --elevation-shadow-ambient-shadow-opacity: 0.12;

  --elevation-shadow-penumbra: rgba(var(--elevation-shadow-color), var(--elevation-shadow-key-penumbra-opacity));
  --elevation-shadow-umbra: rgba(var(--elevation-shadow-color), var(--elevation-shadow-key-umbra-opacity));
  --elevation-shadow-ambient: rgba(var(--elevation-shadow-color), var(--elevation-shadow-ambient-shadow-opacity));

  --elevation-shadow-level0: none;

  --elevation-shadow-level1: 0 2px 2px 0 var(--elevation-shadow-penumbra), 0 3px 1px -2px var(--elevation-shadow-umbra),
    0 1px 5px 0 var(--elevation-shadow-ambient);

  --elevation-shadow-level2: 0 3px 4px 0 var(--elevation-shadow-penumbra), 0 3px 3px -2px var(--elevation-shadow-umbra),
    0 1px 8px 0 var(--elevation-shadow-ambient);

  --elevation-shadow-level3: 0 4px 5px 0 var(--elevation-shadow-penumbra), 0 2px 4px -1px var(--elevation-shadow-umbra),
    0 1px 10px 0 var(--elevation-shadow-ambient);

  --elevation-shadow-level4: 0 6px 10px 0 var(--elevation-shadow-penumbra), 0 3px 5px -1px var(--elevation-shadow-umbra),
    0 1px 18px 0 var(--elevation-shadow-ambient);

  --elevation-shadow-level5: 0 8px 10px 1px var(--elevation-shadow-penumbra),
    0 5px 5px -3px var(--elevation-shadow-umbra), 0 3px 14px 2px var(--elevation-shadow-ambient);

  --elevation-shadow-level6: 0 16px 24px 2px var(--elevation-shadow-penumbra),
    0 8px 10px -5px var(--elevation-shadow-umbra), 0 6px 30px 5px var(--elevation-shadow-ambient);

  --elevation-shadow-level7: 0 9px 46px 8px var(--elevation-shadow-penumbra),
    0 24px 38px 3px var(--elevation-shadow-umbra), 0 11px 15px -7px var(--elevation-shadow-ambient);

  --elevation-scale-level0: 1;
  --elevation-scale-level1: 1.05;
  --elevation-scale-level2: 1.11;
  --elevation-scale-level3: 1.13;
  --elevation-scale-level4: 1.23;
  --elevation-scale-level5: 1.31;
  --elevation-scale-level6: 1.47;
  --elevation-scale-level7: 1.61;

  /* animations */

  --motion-duration-short1: 0.05s;
  --motion-duration-short2: 0.1s;
  --motion-duration-short3: 0.15s;
  --motion-duration-short4: 0.2s;
  --motion-duration-medium1: 0.25s;
  --motion-duration-medium2: 0.3s;
  --motion-duration-medium3: 0.35s;
  --motion-duration-medium4: 0.4s;
  --motion-duration-long1: 0.45s;
  --motion-duration-long2: 0.5s;
  --motion-duration-long3: 0.55s;
  --motion-duration-long4: 0.6s;
  --motion-duration-extra1: 0.7s;
  --motion-duration-extra2: 0.8s;
  --motion-duration-extra3: 0.9s;
  --motion-duration-extra4: 1s;

  --motion-easing-linear: 0, 0, 1, 1;
  --motion-easing-standard: 0.2, 0, 0, 1;
  --motion-easing-standard-accelerate: 0.3, 0, 1, 1;
  --motion-easing-standard-decelerate: 0, 0, 0, 1;
  --motion-easing-emphasized: 0.2, 0, 0, 1;
  --motion-easing-emphasized-decelerate: 0.05, 0.7, 0.1, 1;
  --motion-easing-emphasized-accelerate: 0.3, 0, 0.8, 0.15;
  --motion-easing-legacy: 0.4, 0, 0.2, 1;
  --motion-easing-legacy-decelerate: 0, 0, 0.2, 1;
  --motion-easing-legacy-accelerate: 0.4, 0, 1, 1;
}

/* #endregion */
/* #region global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--primary-font-color);
}

html {
  font-size: 12pt;
}

/* #endregion */
/* #region principal media queries */

@media (max-width: 320px) {
  html {
    font-size: 11pt;
  }
}

/* 
@media (max-width: 2560px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 5px;
  }
} */

/* #endregion */
